h1 {
    color: #f35858; /* cor do texto */
    font-size: 250%; /* Tamanho do texto */
    font-family: Verdana, Geneva, Tahoma, sans-serif;  /* fonte do texto */
    margin-left: 0,5%; 
}
#fotoperfil {
    width: 135px; /* Tamanho a foto */
    border-radius: 100%; /* Aredondar a foto */
    float: right; /*Alinhado a direita*/
    margin-right: 2%;
    
}
body{
    background-color: #252525; /*Fundo do corpo do site*/
    margin: auto;
}
h2{
    color: #ffa115;
    font-size: 180%;
    text-align: center; /*Texto alinhado no centro*/
}
p{
    color: #ffffff;
}
a {
    color: rgb(255, 217, 0);
}
li{
    color: #ffffff;
    list-style-type: none; /* sem marcador na lista*/
}
#Finaldapag{
    text-align: center;
    background-color: #131313;
}
article {
    margin-top: 4%;
    background-color: #585858;
    padding: 1% 2%; /* Espaçamento do conteudo */
    border-radius: 10px; /*Borta arredondada*/
}
#LogoCurso{
    width: 120px;
    float: right;
    margin-top: 2%;
    margin-right: 1%;
}
